parameters:
    level: 5
    paths:
        - src
        - tests
        - build.php
    excludePaths:
        - vendor
        - dist
    bootstrapFiles:
        - vendor/autoload.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#Function [a-z_]+ has no return type specified#'
            path: src/partials/*
