#container, #left, #right{
    margin: 0px; 
    padding: 30px; 
    border: 0px;
}

#left{
    max-width: 100%; 
    float: left;
}

#right{
    max-width: 100%; 
    float: left;
}

.centerimage {
 text-align:center;
 display:block;
}

.leftalign {
 text-align:leftalign;
 display:block;
}

.redtext{
    color:red;
}

.bluetext{
    color:#00BFFF;
}

body {
 margin: 0;
 font-family: 'Helvetica', 'Arial', sans-serif;
}

table {
 font-family: arial, sans-serif;
 border-collapse: collapse;
 width: 90%;
}

td, th {
 border: 1px solid #dddddd;
 text-align: left;
 padding: 8px;
}

tr:nth-child(even) {
 background-color: #dddddd;
}
